server:
    port: 8081
    servlet:
        context-path: /api/v1

spring:
    application:
        name: ims
    profiles:
        active: dev
    sql:
      init:
          mode: never

endpoints:
    auth: /auth
    vendor: /vendor
    branch: /branch
    asset: /asset
    asset-network: ${endpoints.asset}/network
    asset-network-device: ${endpoints.asset-network}/device
    asset-network-device-model: ${endpoints.asset-network-device}/model
    asset-network-device-manufacturer: ${endpoints.asset-network-device}/manufacturer
    asset-network-device-status: ${endpoints.asset-network-device}/status
    asset-network-device-type: ${endpoints.asset-network-device}/type

application:
    security:
        secret-key: 4bb6d1dfbafb64a681139d1586b6f1160d18159afd57c8c79136d7490630407c


