server:
    port: 8081
    servlet:
        context-path: /api/v1

spring:
    application:
        name: ims
    profiles:
        active: dev
    sql:
      init:
          mode: never

endpoints:
    vendor: /vendor
    location: /location
    customer: /customer
    employee: /employee
    asset: /asset
    asset-network: ${endpoints.asset}/network
    asset-fixed: ${endpoints.asset}/fixed

    router: /router
    router-provider-edge: ${endpoints.router}/provider-edge
    router-customer: ${endpoints.router}/customer

    last-mile: /last-mile
    last-mile-provider: ${endpoints.last-mile}/provider
    last-mile-media: ${endpoints.last-mile}/media

